.full-homepage-background-contact {
    background-image: url('../img/CONTACT.jpg');
    background-repeat: no-repeat; 
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .contact-text p {
    color: white;
    font-family: 'Gotham-book';
    letter-spacing: 3px;
    line-height: 30px;
  }
  .contact-text {
    display: flex;
    flex-direction: column;
  }
 .contact-margin {
   margin-right: 30px;
 }