.navbar {
    padding: 3px 80px;
    z-index: 10;
    color: white;
    background: none;
    border: none;
    padding-top: 30px;
  }
  
  .nav-link {
    color: white !important;
  }
  .navbar-brand {
    font-family: 'Gotham';
    color: white !important;
    font-size: 15px;
    letter-spacing: 5px;
    
  }
  .nav-link {
    font-family: 'Gotham-book';
    letter-spacing: 3px;
    font-size: 11px;
    margin-right: 10px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
  }