@font-face { font-family: Gotham; src: url('fonts/GOTHAM-BOLD.TTF'); } 
@font-face { font-family: Gotham-book; src: url('fonts/Gotham-Book.otf'); } 
@font-face { font-family: Gotham-medium; src: url('fonts/Gotham-Medium.otf'); } 